<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('../partials/head.ejs') %>
  <body>
    <!-- Header -->
    <%- include('../partials/header.ejs') %>

    <!-- Main content-->
    <main class="main">
      <div class="error">
        <h2 class="error__code"><%= errorCode %></h2>
        <h3 class="error__title"><%= errorTitle %></h3>
        <p class="error__message"><%= errorMessage %></p>
        <a class="link link--cta link--home" href="/">Return to Home</a>
      </div>
    </main>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
