<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('../partials/head.ejs') %>
  <body>
    <!-- Header -->
    <%- include('../partials/header.ejs') %>

    <!-- Main content-->
    <main class="main">
      <% if(locals.breadcrumbs) { %>
        <p><a href="/">Home</a>
        <% breadcrumbs.forEach(breadcrumb => { %>
          / <a href="/folders/<%= breadcrumb.id %>"><%= breadcrumb.name %></a>
        <% }) %>
        </p>

      <% } %>

      <div class="preview">
        <% if (locals.previewType) { %>
          <% if (previewType === 'image') { %>
            <img src="<%= locals.previewUrl %>" alt="">
          <% } else if(previewType === 'audio'){ %>
            <audio controls src="<%= locals.previewUrl %>"></audio>
          <% } else if (previewType === 'video') { %>
            <video src="<%= locals.previewUrl %>"></video>
          <% } else { %>
            <img src="<%= locals.previewUrl %>" alt="">
          <% } %>
        <% } %>
        
      </div>
      <!-- Show file details -->
      <% if (locals.file ) { %>
        <ul>
          <li class="file__name" data-name="<%= file.name %>">Name: <%= file.name %></li>
          <li class="file__size" data-size="<%= file.size %>"><%= file.size %></li>
          <li class="file__type" data-type="<%= file.type %>"><%= file.type %></li>
          <li class="file__date" data-date="<%= file.uploadedAt.toISOString() %>"><%= file.uploadedAt.toUTCString() %></li>
        </ul>
      <% } %>

      
    </main>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
  </body>

   <script>

    const fileType = document.querySelector('.file__type')
    const fileName = document.querySelector('.file__name')
    const fileNameValue = fileName.getAttribute('data-name')
    const fileSize = document.querySelector('.file__size')
    const fileSizeValue = fileSize.getAttribute('data-size')
    const fileDate = document.querySelector('.file__date')
    const fileDateValue = fileDate.getAttribute('data-date')

    function removeFileExtensionAndDisplayFileType(fullName) {
      const fileNameArr = fullName.split('.')

      // Remove file extension
      const baseName = fileNameArr[0]
      fileName.textContent = `Name: ${baseName}`

      // Show file type
      const extension = fileNameArr[1]
      fileType.textContent = `Type: ${extension}`
    }
    
    function displayFileSize(bytes) {
      bytes = Number(bytes)
      let number = ''

      if (bytes < 1024) {
        number = `${bytes} bytes`;
      } else if (bytes >= 1024 && bytes < 1024 * 1024) {
        number = `${(bytes / 1024).toFixed(2)} KB`;
      } else {
        number = `${(bytes / (1024 * 1024)).toFixed(2)} MB`;
      }
      
      fileSize.textContent = `Size: ${number}`
    }

    function displayDate(date) {
      // Convert the date into local date and time
      const localDate = new Date(date).toLocaleString()
      fileDate.textContent = `Time uploaded: ${localDate}`
    }

    removeFileExtensionAndDisplayFileType(fileNameValue)
    displayFileSize(fileSizeValue)
    displayDate(fileDateValue)
  </script>  
</html>