<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('../partials/head.ejs') %>
  <body>
    <!-- Header -->
    <%- include('../partials/header.ejs') %>

    <!-- Main content-->
    <main class="main">
      <div class="">

        <!-- Show errors -->
        <% if(locals.errors && locals.errors.length > 0) { %>
          <%- include('../partials/errors.ejs') %>
        <% }  %>

       
        <form class="form" action="<%= locals.isUpdate ? `/folders/${folder.id}/update` : locals.folderId ? `/folders/${folderId}/new` : `/folders/new` %>" method="POST">
          <h2 class=""><%= locals.isUpdate ? 'Update Folder' : 'New Folder' %></h2>
          <div class="form__control">
            <label class="form__label" for="folderName">Folder Name (required)
              <span>Allowed characters: Letters, numbers, spaces, period, underscore and hyphen</span>
            </label>
            <input
              class="form__input"
              id="folderName"
              name="name"
              placeholder="Name"
              type="text"
              value="<%= locals.isUpdate || locals.errors ? `${locals.folder?.name}` : '' %>"

              autofocus
              required
                />
            <!-- <input
              class="form__input"
              id="folderName"
              name="name"
              placeholder="Name"
              type="text"
              value="<%= locals.isUpdate || locals.errors ? `${locals.folder?.name}` : '' %>"
              pattern="[a-zA-Z0-9\s._\-]+"
              autofocus
              required
                /> -->
            
          </div>
          <div class="form__buttons">
            <a href="<%= locals.parentId ? `/folders/${parentId}` : locals.folderId ? `/folders/${folderId}` : `/` %>" class="btn  btn--cancel">Cancel</a>
            <!-- <a href="<%= locals.folderId ? `/folders/${folderId}` : `/` %>" class="btn  btn--cancel">Cancel</a> -->
            <button class="btn  btn--submit" type="submit">
              <%= locals.isUpdate ? 'Update' : 'Create' %>
            </button>
          </div>
        </form>
      </div>
      
    </main>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
  </body>
  
 
</html>
