<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('../partials/head.ejs') %>
  <body>
    <!-- Header -->
    <%- include('../partials/header.ejs') %>

    <!-- Main content-->
    <main class="main">
      <% if(locals.breadcrumbs) { %>
        <p><a href="/">Home</a>
        <% breadcrumbs.forEach(breadcrumb => { %>
          / <a href="/folders/<%= breadcrumb.id %>"><%= breadcrumb.name %></a>
        <% }) %>
        </p>

      <% } %>

      <h2><%= locals.folder ? `${folder.name}` : '' %></h2>
      <!-- Show folders -->
      <% if (locals.folder && folder.children.length > 0) { %>
        <ul>
          <% folder.children.forEach(folder => { %>
            <li>
              <p class="folder__name"><a href="/folders/<%= folder.id %>"><%= folder.name %></a></p>
              <a   href="/folders/<%= folder.id %>/update">Rename</a>
              <form  action="/folders/<%= folder.id %>/delete" method="POST" >
                <button class="btn btn--delete" type="submit">
                Delete</button>
              </form>
            </li>
          <% }) %>
        </ul>
      <% } %>

      <!-- Show files -->
      <% if (locals.folder && folder.files.length > 0) { %>
        <ul>
          <% folder.files.forEach(file => { %>
            <li>
              <p><%= file.name %></p>
              <a   href="/files/<%= file.id %>/update">Rename</a>
              <button>Download</button>
              <form  action="/files/<%= file.id %>/delete" method="POST" >
              <button class="btn btn--delete" type="submit">
                Delete</button>
              </form>
            </li>
          <% }) %>
        </ul>
      <% } %>
    </main>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
  </body>
</html>