<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('../partials/head.ejs') %>
  <body>
    <!-- Header -->
    <%- include('../partials/header.ejs') %>

    <!-- Main content-->
    <main class="main">
      <!-- Show folders -->
      <% if(locals.folders && locals.folders.length > 0) { %>
        <%- include('../partials/folders.ejs') %>
      <% }  %>

      <!-- Show files -->
      <% if(locals.files && locals.files.length > 0) { %>
        <%- include('../partials/files.ejs') %>
      <% }  %>
      
    </main>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
